15.Выполните задание с применением собственных функций на основе
набора данных films.csv:
Кто из режиссеров снял больше всего фильмов?

In [ ]:
import pandas as pd

df = pd.read_csv("/home/films.csv")

director_counts = df['director'].value_counts()
director_counts

director
Steven Soderbergh           13
Clint Eastwood              12
Ridley Scott                12
Shawn Levy                  10
Steven Spielberg            10
                            ..
Walter Hill|Jack Sholder     1
Christian Duguay             1
David Raynr                  1
Douglas Aarniokoski          1
Davis Guggenheim             1
Name: count, Length: 958, dtype: int64

In [ ]:
most_films = director_counts.max()
top_directors = director_counts[director_counts == most_films]

print("Режиссёр(ы), снявший(е) больше всего фильмов:\n", top_directors)

Режиссёр(ы), снявший(е) больше всего фильмов:
 director
Steven Soderbergh    13
Name: count, dtype: int64

In [ ]:
films_data = pd.read_csv('/home/films.csv')

films_data['director'] = films_data['director'].str.split('|')

exploded_directors = films_data.explode('director')

director_counts = exploded_directors['director'].value_counts()

most_prolific_director = director_counts.idxmax()
number_of_films = director_counts.max()

print(f"Режиссер, снявший больше всего фильмов: {most_prolific_director}")
print(f"Количество фильмов: {number_of_films}")

Режиссер, снявший больше всего фильмов: Steven Soderbergh
Количество фильмов: 13



---

5. Выполните задание с применением собственных функций на основе
набора данных films.csv:
Какой режиссер выпускает (суммарно по годам) больше всего фильмов зимой?

In [ ]:
data = pd.read_csv('/home/films.csv')

data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')
data['release_month'] = data['release_date'].dt.month
data['release_month']

0        6
1        5
2        3
3       12
4        4
        ..
1885     7
1886    10
1887     6
1888     2
1889     7
Name: release_month, Length: 1890, dtype: int32

In [ ]:
winter_films = data[data['release_month'].isin([12, 1, 2])]
winter_films

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,release_month
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,12
5,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,2015-12-25,3929,7.2,2015,12
11,tt1617661,6.189369,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2015-02-04,1937,5.2,2015,2
12,tt0470752,6.118847,15000000,36869414,Ex Machina,Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...,Alex Garland,There is nothing more human than the will to s...,"Caleb, a 26 year old coder at the world's larg...",108,Drama|Science Fiction,DNA Films|Universal Pictures International (UP...,2015-01-21,2854,7.6,2015,1
15,tt3460252,5.898400,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,Quentin Tarantino,No one comes up here without a damn good reason.,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,2015-12-25,2389,7.4,2015,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1864,tt0219653,0.481089,28000000,33000337,Dracula 2000,Gerard Butler|Christopher Plummer|Jonny Lee Mi...,Patrick Lussier,The Most Seductive Evil of All Time Has Now Be...,In the millenium version of this classic Gothi...,99,Horror|Thriller,Neo Art & Logic|Dimension Films|Wes Craven Films,2000-12-22,73,4.7,2000,12
1868,tt0181536,0.449041,43000000,80049764,Finding Forrester,Sean Connery|Rob Brown|F. Murray Abraham|Anna ...,Gus Van Sant,"In an ordinary place, he found the one person ...",Gus van Sant tells the story of a young Africa...,136,Drama,Fountainbridge Films|Laurence Mark Productions...,2000-12-21,161,6.9,2000,12
1873,tt0134983,0.385350,90000000,14828081,Supernova,James Spader|Angela Bassett|Robert Forster|Lou...,Walter Hill|Jack Sholder,"In the farthest reaches of space, something ha...","Set in the 22nd century, when a battered salva...",91,Science Fiction,United Artists|Metro-Goldwyn-Mayer (MGM)|Hamme...,2000-01-14,42,4.7,2000,1
1881,tt0190374,0.284476,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,2000-12-08,86,3.9,2000,12
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2000-02-16,21,5.2,2000,2

In [ ]:
data['director'] = data['director'].str.split('|')
exploded_directors = films_data.explode('director')
director_counts = winter_films['director'].value_counts()
director_counts

director
Peter Jackson          7
Clint Eastwood         6
Steven Soderbergh      6
Adam Shankman          4
Shawn Levy             4
                      ..
Roland Emmerich        1
Doug Liman             1
Francine McDougall     1
Demian Lichtenstein    1
Anne Fletcher          1
Name: count, Length: 333, dtype: int64

In [ ]:
most_prolific_director = director_counts.idxmax()
number_of_films = director_counts.max()

print(f"Режиссер, снявший больше всего фильмов: {most_prolific_director}")
print(f"Количество фильмов: {number_of_films}")

Режиссер, снявший больше всего фильмов: Peter Jackson
Количество фильмов: 7